/* this is style sheet 2 for html 2 */

/* paragraph styles */

P {
    width: 50%;
    height: 20%;
    border: 2px solid blue;
    text-align: center;
    margin-left: 475px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

/*table styles */
/* this is to create our tic-tac-toe board */

/* auto value will calculate how to center within the web page 
this will happen automatically */
table {
    margin: auto;
}

td {
    width: 100px;
    height: 100px;
}

.vertical {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.horizontal {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

a {
    margin-left: 48%;
}